.idea
.settings
*.iml
*.iws
*.sql
*Db.properties
*Db.script
/node_modules
/web-app/css/bundle.css*
/web-app/js/bundle.js*
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
classes/
eclipse
stacktrace.log
target
target-eclipse/
web-app/WEB-INF/
.classpath
.settings
.project
.DS_Store
openboxes.ipr
/cobertura.ser
/.link_to_grails_plugins
out/
*.swp
tags
*.swo
/uploads
site/
.slcache